.UI__section
  h3.Type.Type--size-h3.Utility--align-center
    | Typography

  .UI__section__component
    h4.Type.Type--size-h4.Utility--align-center
      | Sizes

    .UI__section__component__rendered
      for size, key in font
        h1.Type.Utility--align-center( class="Type--#{key}" )
          | .Type--#{key}: #{font[key]}:
          | <code class='Type'>font-#{key}</code>

  .UI__section__component
    h4.Type.Type--size-h4.Utility--align-center
      | Paragraph

    .UI__section__component__rendered
      p.Type.Type--size-lg
        | Large paragraph #{font['size-lg']}: font-size-lg: On <a href='/'>Are.na</a> you collect, connect and contextualize information collaboratively. People use it to save text, images, links, files, PDFs, etc into flexible containers called channels. Our users have started channels to gather materials for news articles, build business ideas, do academic research and start creative projects.

      p.Type
        | Default paragraph #{font['size-base']}: font-size-base: On <a href='/'>Are.na</a> you collect, connect and contextualize information collaboratively. People use it to save text, images, links, files, PDFs, etc into flexible containers called channels. Our users have started channels to gather materials for news articles, build business ideas, do academic research and start creative projects.

      p.Type.Type--size-sm
        | Small paragraph #{font['size-sm']}: font-size-sm: On <a href='/'>Are.na</a> you collect, connect and contextualize information collaboratively. People use it to save text, images, links, files, PDFs, etc into flexible containers called channels. Our users have started channels to gather materials for news articles, build business ideas, do academic research and start creative projects.

      p.Type.Type--size-xs
        | Extra-small paragraph #{font['size-xs']}: font-size-xs: On <a href='/'>Are.na</a> you collect, connect and contextualize information collaboratively. People use it to save text, images, links, files, PDFs, etc into flexible containers called channels. Our users have started channels to gather materials for news articles, build business ideas, do academic research and start creative projects.

      hr.Base

    .UI__section__component
      h4.Type.Type--size-h4.Utility--align-center
        | Code

      .UI__section__component__rendered
        pre.Type
          | Block &lt;pre&gt; text: life←{↑1 ⍵∨.∧3 4=+/,¯1 0 1∘.⊖¯1 0 1∘.⌽⊂⍵}

        p
          | Inline &lt;code&gt; text:
          = ' '
          code.Type
            | function() { return this; }

      hr.Base

    .UI__section__component
      h4.Type.Type--size-h4.Utility--align-center
        | Available Size Variables

      .UI__section__component__rendered
        pre.Type
          for size, key in font
            | font-#{key}: #{size}
            br
