.block-container
  .block-content.v-outer
    .v-inner
      if block.has('image') && block.get('class') != 'Media'
        .block-img
          a(href="#{block.getSourceUrl()}" target="_blank")
            img(src="#{block.resizeImage(1000,1000, 'large')}")

      if block.get('class') == 'Media'
        .block-media!= block.get('embed').html

      if block.get('class') == 'Text'
        .block-text(id="attribute-content_#{block.id}")!= md(block.get('content'))

      - if(block.get('class') == 'Attachment' && !block.has('image'))
          if block.isMovie()
            .block-video
              video(preload controls)
                source(src=block.getSourceUrl())
          else
            a.block-attachment(href="#{block.getSourceUrl()}" target="_blank")
              if(block.get('attachment').extension == 'mp3')
                img(data-src="#{sd.IMAGE_PATH}iconic/type-mp3.svg" class="iconic iconic-lg")
              else if(block.get('attachment').extension == 'pdf')
                img(data-src="#{sd.IMAGE_PATH}iconic/type-pdf.svg" class="iconic iconic-lg")
              else
                img(data-src="#{sd.IMAGE_PATH}iconic/file.svg" data-file-extension="#{block.get('attachment').extension}" class="iconic iconic-lg")

      .block-arrow.block-arrow--right.v-outer(data-direction="next"): .v-inner
        img(data-src="/images/iconic/nav-arrow-r.svg" class="iconic iconic-md")
      .block-arrow.block-arrow--left.v-outer(data-direction="prev"): .v-inner
        img(data-src="/images/iconic/nav-arrow-l.svg" class="iconic iconic-md")


  #block-tabs.tab--container.tab--container--block
    ul.tab--container__nav
      li.tab--container__nav__item(data-tab="info", class=tab == 'info' ? 'is-active' : '')
        h5: a(href="/#" data-disabled=true) Info
      li.tab--container__nav__item(data-tab="connections" class=tab == 'connections' ? 'is-active' : '')
        - s = connections.length == 1 ? '' : 's'
        h5: a(id="tab-connection-count" href="/#" data-disabled=true ) #{connections.length} Connection#{s}
      if user && user.id
        li.tab--container__nav__item(data-tab="comments" class=tab == 'comments' ? 'is-active' : '')
          - s = block.get('comment_count') == 1 ? '' : 's'
          h5: a(href="/#" data-disabled=true ) #{block.get('comment_count')} Comment#{s}

    #tab-info.tab-content(class=tab == 'info' ? 'is-active' : '')
      .tab-content__inner
        h2.block-title.center(id="attribute-title_#{block.id}")= block.get('title')
        .block-description(id="attribute-description_#{block.id}")!= block.get('description')

        .block-meta.center
          if block && (block.has('source') || block.has('image'))
            a(href="#{block.getSourceUrl()}" target="_blank").block-source-original (#{block.sourceTitle()})
          if block.has('image') && block.get('class') != 'Media' && block.get('class') != 'Link'
            |  &mdash; #[a(href="https://www.google.com/searchbyimage?&image_url=#{block.getImageSize('original')}" target="_blank") (Find original)]

      include _attribution

    #tab-connections.tab-content(class=tab == 'connections' ? 'is-active' : '')
      .tab-content__inner
        .tab-connections-list
          include _connections
        .tab-url-connections-list
          include _url_connections
        if user && user.id
          .button--base.button--base--connect.js-connect-button Connect &rarr;
          .block-connect-container
            //- rendered on the client

      include _attribution

    #tab-comments.tab-content(class=tab == 'comments' ? 'is-active' : '')
      .tab-content__inner
        if comments
          include ../../../components/comments/templates/index

      include _attribution



