.block-container
  .block-content.v-outer
    .v-inner
      if block.has('image') && block.get('class') != 'Media'
        .block-img
          a(href="#{block.getSourceUrl()}" target="_blank")
            img(src="#{block.resizeImage(1000,1000, 'large')}")

      if block.get('class') == 'Media'
        .block-media!= block.get('embed').html

      if block.get('class') == 'Text'
        .block-text(id="attribute-content_#{block.id}")!= md(block.get('content'))

      - if(block.get('class') == 'Attachment' && !block.has('image'))
          a.block-attachment(href="#{block.getSourceUrl()}" target="_blank")
            if(block.get('attachment').extension == 'mp3')
              img(data-src="#{sd.IMAGE_PATH}iconic/type-mp3.svg" data-file-extension="#{block.get('attachment').extension}" class="iconic iconic-lg")
              img(data-src="#{sd.IMAGE_PATH}iconic/type-embed.svg" data-file-extension="#{block.get('attachment').extension}" class="iconic iconic-md")
            if(block.get('attachment').extension == 'pdf')
              img(data-src="#{sd.IMAGE_PATH}iconic/type-pdf.svg" data-file-extension="#{block.get('attachment').extension}" class="iconic iconic-lg")
            if(block.get('attachment').extension == 'embed')
              img(data-src="#{sd.IMAGE_PATH}iconic/type-embed.svg" data-file-extension="#{block.get('attachment').extension}" class="iconic iconic-lg")


      .block-arrow.block-arrow--right.v-outer(data-direction="next"): .v-inner
        img(data-src="/images/iconic/nav-arrow-r.svg" class="iconic iconic-sm")
      .block-arrow.block-arrow--left.v-outer(data-direction="prev"): .v-inner
        img(data-src="/images/iconic/nav-arrow-l.svg" class="iconic iconic-sm")


  .tab--container.tab--container--block
    ul.tab--container__nav
      li.tab--container__nav__item.is-active(data-tab="info")
        h5: a(href="/#") Info
      li.tab--container__nav__item(data-tab="connections")
        h5: a(href="/#") #{block.get('connections').length} Connections
      li.tab--container__nav__item(data-tab="comments")
        h5: a(href="/#") #{block.get('comment_count')} Comments

    #tab-info.tab-content.is-active
      h2.block-title.center(id="attribute-title_#{block.id}")= block.get('title')
      .block-description(id="attribute-description_#{block.id}")!= block.get('description')

      .block-meta.center
        if block && (block.has('source') || block.has('image'))
          a(href="#{block.getSourceUrl()}" target="_blank").block-source-original (#{block.sourceTitle()})
        if block.has('image') && block.get('class') != 'Media' && block.get('class') != 'Link'
          |  &mdash; #[a(href="https://www.google.com/searchbyimage?&image_url=#{block.getImageSize('original')}" target="_blank") (Find original)]

      .block-meta
        .block-date
          | Created #{block.createdAtAgo()}
          |  by
          a(href="/#{block.get('user').slug}")  #{block.get('user').username}
        if block.createdAtAgo() != block.updatedAtAgo()
          .block-date Last updated #{block.updatedAtAgo()}

    #tab-connections.tab-content
      for channel in block.connections()
        include ../../../components/list_view/templates/_channel

    #tab-comments.tab-content
      if comments
        for comment in comments.models
          include ../../../components/comments/templates/_comment

        .block-new-comment-container.center
          include ../../../components/new_comment/templates/new_comment



