#block-tabs.tab--container.tab--container--block
  ul.tab--container__nav
    li.tab--container__nav__item(data-tab="connections" class=tab == 'connections' ? 'is-active' : '')
      - s = connections.length == 1 ? '' : 's'
      h5: a(id="tab-connection-count" href="/#") #{connections.length} Connection#{s}
    if user && user.id
      li.tab--container__nav__item(data-tab="comments" class=tab == 'comments' ? 'is-active' : '')
        - s = block.get('comment_count') == 1 ? '' : 's'
        h5: a(href="/#") #{block.get('comment_count')} Comment#{s}
  
  #tab-connections.tab-content(class=tab == 'connections' ? 'is-active' : '')
    .tab-content__inner
      .tab-connections-list
        include _connections
      .tab-url-connections-list
        include _url_connections
      if user && user.id
        .button--base.button--base--connect.js-connect-button Connect &rarr;
        .block-connect-container
          //- rendered on the client
  #tab-comments.tab-content(class=tab == 'comments' ? 'is-active' : '')
    .tab-content__inner
      if comments
        include ../../../components/comments/templates/index

  