if block.has('image') && block.get('class') !== 'Media'
  .block-img
    a( href= block.getSourceUrl(), target='_blank', rel='nofollow'  )
      img( src= block.resizeImage(1000, 1000, 'large') )

if block.get('class') === 'Media'
  .block-media
    != block.get('embed').html

if block.get('class') === 'Text'
  .block-text( id="attribute-content_#{block.id}" )
    != md(block.get('content'))

if block.get('class') === 'Attachment' && !block.has('image')
  a.block-attachment( href= block.getSourceUrl() target='_blank'  )
    if block.get('attachment').extension === 'mp3'
      img.iconic.iconic-lg(
        data-src="#{sd.IMAGE_PATH}iconic/type-mp3.svg"
      )

    else if block.get('attachment').extension === 'pdf'
      img.iconic.iconic-lg(
        data-src="#{sd.IMAGE_PATH}iconic/type-pdf.svg"
      )

    else
      img.iconic.iconic-lg(
        data-src="#{sd.IMAGE_PATH}iconic/file.svg"
        data-file-extension= block.get('attachment').extension
      )
