extends ../../../components/layout/index

block styles
  link( type='text/css', rel='stylesheet', href=(sd.ASSET_PATH + 'feed' + sd.CSS_EXT) )

block body
  include ../../../components/path/templates/path
  .explore.expanded-list
    for channel in channels
      .explore__channel
        h2.explore__channel__path
          a(href="/#{channel.get('user').slug}/#{channel.get('slug')}")
            ul.breadcrumb
              li=channel.get('user').username
              li(class="search__results__result--privacy-#{channel.getVisibility()}")=channel.get('title')
          .explore__timestamp Last interaction #{channel.updatedAtAgo()}
        .explore__channel__blocks
          .grid
            for block in channel.get('contents').models
              include ../../../components/block_collection/templates/block


block scripts
  script( src=sd.ASSET_PATH + 'feed' + sd.JS_EXT )