extends ../../../components/layout/index--bare

block vars
  - extraClasses = 'body--home'

block styles
  link( type='text/css', rel='stylesheet', href=asset('/assets/all.css') )

block body
  .home__section.home__section--intro
    .home__section--intro__inner
      .home__section--intro__diagram
        include ../../../public/images/feynman-arena.svg
      h1 Fig.1 Forgotten facts can be recreated by triangulating from known facts
      .home__section--intro__inner__buttons
        span.intro__button(data-client="auth" href="/sign_up") Sign up
        span.intro__button(data-client="auth" href="/log_in")  Login
        a.intro__button(href="/about") About
      img(
        data-src="#{sd.IMAGE_PATH}iconic/nav-arrow-l.svg"
        class="iconic iconic-sm home-arrow pointer"
        data-multiplier="1"
      )
  .home__section.home__section--intro
    .home__section--intro__inner
      h1 Are.na is the simplest way to manage ideas
      br
      br
      h1.home__section--intro__inner__copy clean and minimal interface
      h1.home__section--intro__inner__copy no ads, social media buttons or algorithms
      h1.home__section--intro__inner__copy multiple privacy settings
      h1.home__section--intro__inner__copy supports most file types, URLs and embeds
      h1.home__section--intro__inner__copy public API to show content offsite
      h1.home__section--intro__inner__copy export collections as HTML, PDF or ZIP
      img(
        data-src="#{sd.IMAGE_PATH}iconic/nav-arrow-l.svg"
        class="iconic iconic-sm home-arrow pointer"
        data-multiplier="2"
      )

  .home__section.home__section--intro.home__section--intro--examples
    .home__section--intro__inner
      h1
        | On Are.na, you organically combine images, links, files and texts into collections (we call them channels).
        br
        | Use it collaboratively, publicly or privately.
      br
      br
      h1
        | Once you get the hang of it, its dead-simple to use for just about any idea.
      br
      br
      h1
        | Think of it as a connected archive of human knowledge.

      figure.home__section--intro__figure
        figcaption
          h1.home__section--intro__inner__copy An example profile
        img(src="#{sd.IMAGE_PATH}home/profile-1.png")

      figure.home__section--intro__figure
        figcaption
          h1.home__section--intro__inner__copy An example channel
        img(src="#{sd.IMAGE_PATH}home/channel-2.png")

      figure.home__section--intro__figure
        figcaption
          h1.home__section--intro__inner__copy Save images, text, and links with the bookmarklet
        img(src="#{sd.IMAGE_PATH}home/bookmarklet-2.png")

      figure.home__section--intro__figure
        figcaption
          h1.home__section--intro__inner__copy Connect existing content to other channels
        img(src="#{sd.IMAGE_PATH}home/connect-2.png")
      br
      br
      h1.home--wide-header
        | So far, users have created #[span.is-successful #{stats.format('channels')}] channels and made #[span.is-successful #{stats.format('connections')}] connections.
      br
      br
      img(
        data-src="#{sd.IMAGE_PATH}iconic/nav-arrow-l.svg"
        class="iconic iconic-sm home-arrow pointer"
        data-multiplier="7"
      )


  .home__section.home__section--intro
    .home__section--intro__inner
      h1
        ul
          li: a(href="/charles-broskoski") Charles Broskoski
          li: a(href="/daniel-pianetti") Daniel Pianetti
          li: a(href="/chris-sherron") Chris Sherron
      .home__team-advisors Advisors:
          h1: a(href="/morgan-sutherland")  Morgan Sutherland
          | ,
          h1: a(href="/damon-zucconi")  Damon Zucconi
          | ,
          h1: a(href="/dena-yago")  Dena Yago
          | ,
          h1: a(href="/daniel-brewster")  Dan Brewster
          | ,
          h1: a(href="/john-michael-boling")  John Michael Boling&nbsp;
          | and
          h1: a(href="/j-stuart-moore")  J. Stuart Moore.

  .home__section.home__section--footer
    .home__section__container.flex-container
      h1
        a(href='/about') Learn more
        |  about Are.na or&nbsp;
        a(href='/sign_up') sign up.

block scripts
  script( src=asset('/assets/root.js') )
