extends ../../../components/layout/index--bare

block vars
  - extraClasses = 'body--home'

block styles
  link( type='text/css', rel='stylesheet', href=asset('/assets/all.css') )

block body
  .home__section.home__section--intro
    .home__section--intro__inner
      .home__section--intro__diagram
        include ../../../public/images/feynman-arena.svg
      h1 Fig.1 Forgotten facts can be recreated by triangulating from known facts
      .home__section--intro__inner__buttons
        a.intro__button(href="#sign_up") Sign up
        a.intro__button(href="#log_in")  Login
        a.intro__button(href="/about") About
      img(
        data-src="#{sd.IMAGE_PATH}iconic/nav-arrow-l.svg"
        class="iconic iconic-sm home-arrow pointer"
        data-multiplier="1"
      )
  .home__section.home__section--intro
    .home__section--intro__inner
      h1 Are.na is an open-ended platform for collaborative, private and public research.
      h1 Build new ideas over time by assembling collections of links, images, files and text.
      h1.home__section--intro__inner__copy= bullet_points[0]
      img(
        data-src="#{sd.IMAGE_PATH}iconic/nav-arrow-l.svg"
        class="iconic iconic-sm home-arrow pointer"
        data-multiplier="2"
      )

  .home__section.home__section--channels
    .home__section__container.flex-container
      .home__section--channels__channels
        h1 Channel examples
        - for e_channel in example_channel.get('contents')
          h2.home__path
            ul.breadcrumb
              li Are.na
              li
                a(href="/#{e_channel.user.slug}")=e_channel.user.username
              li
                a(href="/#{e_channel.user.slug}/#{e_channel.slug}" class="privacy--#{e_channel.status}")=e_channel.title
          .home__section-channels__images.grid
            - for block in e_channel.contents.models.slice(0,4)
              include ../../../components/block_collection/templates/block

          .home__section-channels__button
            .button--inblock
              a(href="/#{e_channel.user.slug}/#{e_channel.slug}") +#{e_channel.length - 4} more blocks &rarr;

  .home__section.home__section--footer
    .home__section__container.flex-container
      h1
        a(href='/about') Learn more
        |  about Are.na or&nbsp;
        a(href='#sign_up') sign up.

block scripts
  script( src=asset('/assets/root.js') )
