extends ../../../components/path/templates/path

block path
  li
    //- .root__toggle
    //-   if user
    //-     .root__toggle__item(class="#{path == 'feed' ? 'active' : ''}"): a(href="/")   feed
    //-     .root__toggle__item(class="#{path == 'explore' ? 'active' : ''}"): a(href="/explore") explore
    //-     .root__toggle__item: a(href="/#{user.get('slug')}") profile

block metadata
  .metadata__column
    .metadata__title View
    .metadata__text
      ul.breadcrumb
        li: a(href="/" class=sd.FEED_TYPE == "primary" ? "is-active" : "" ).metadata--selector__option Feed
        li: a(href="/notifications" class=sd.FEED_TYPE == "notifications" ? "is-active" : "").metadata--selector__option Notifications
