.list-item.list-item__channel(class="list-item__channel--privacy-#{channel.getVisibility()}")
  .list-item-inner
    .list-item-cell.list-item-cell--title
      a(href="#{channel.href()}")= channel.get('title')
      span.list-item__channel__block-count &nbsp;(#{channel.get('length')})

    .list-item-cell: a(href="/#{channel.get('user').slug}") #{channel.get('user').username}
    .list-item-cell Last updated #{channel.updatedAtAgo()}
    //- .list-item-cell Connect &rarr;
