#save-tabs.tab--container.tab--container--save
  ul.tab--container__nav
    li.tab--container__nav__item(data-tab="url", class=tab.get('mode') == 'url' ? 'is-active' : '')
      h5: a(href="#") URL
    li.tab--container__nav__item(data-tab="drop", class=tab.get('mode') == 'drop' ? 'is-active' : '')
      h5: a(href="#") Drop

  #tab-url.tab-content(class=tab.get('mode') == 'url' ? 'is-active' : '')
    input#save-content.input--wide.input--relative.is-block(
      name='content' type='text' placeholder='URL' value="#{content}"
    )

  #tab-drop.tab-content(class=tab.get('mode') == 'drop' ? 'is-active' : '')
    .grid.flex-container
      include ./drop_zone

  #save--connect
    include ./connect
