#l-lightbox-container_inner
  a.lightbox--close: span(class="iconic iconic-sm" data-glyph="x" title="x" aria-hidden="true")

  #l-lightbox-loading-spacer

  - if(block.has('image') && block.get('class') != 'Media')
    .lightbox__content__img
      img(src="#{block.resizeImage(1000,1000, 'original')}")

  - if(block.get('class') == 'Attachment')
    .lightbox__content__img
      img(data-src="#{sd.IMAGE_PATH}iconic/file.svg", data-file-extension="#{block.get('attachment').extension}" class="iconic iconic-lg")

  - if(block.get('class') == 'Text')
    .lightbox__content__text
      .lightbox__content__text__inner(id="attribute-content_#{block.id}")!= md(block.get('content'))

  - if(block.get('class') == 'Media')
    .lightbox__content__media!= block.get('embed').html

  .lightbox__arrow-container.directional-arrows.directional-arrows--right(data-direction="next")
    span(class="iconic" data-glyph="chevron-right" title="chevron right")

  .lightbox__arrow-container.directional-arrows.directional-arrows--left(data-direction="prev")
    span(class="iconic" data-glyph="chevron-left" title="chevron left")

  .lightbox__content__title
    p(id="attribute-title_#{block.id}")= block.get('title')

    p.lightbox__content__description(id="attribute-description_#{block.id}")!= block.get('description')

    - if(block && block.has('source'))
      .lightbox__content__source
        p (#[a(href="#{block.getSourceUrl()}" target="_blank") Source])

  #lightbox__feed.lightbox__feed
    #lightbox__feed_inner.lightbox__feed__inner
    //- rendered by client

  #lightbox__new-comment
    //- rendered by client

  #lightbox__connect
    #lightbox__connect__inner
      .button--inblock Connect &rarr;
