a(
  href="/#{channel.user.slug}/#{channel.slug}"
  data-selected= channel.selected
)
  span
    = channel.user.full_name
    span.Separator
    span( class="Color--#{channel.status}" )
      = channel.title
