.attr-backdrop.save

div(id="#{attribute}_display_#{id}" class="attr-value")
  if value
    if kind == 'markdown'
      != md(value)
    else
      = value
  else
    .placeholder Add #{attribute}

form.attr-editor
  if kind == 'markdown'
    textarea(class="markdown editor" autofocus="autofocus" placeholder="Add #{attribute}")= value
  else
    input(class="plaintext editor full" value="#{value}" autofocus="autofocus" placeholder="Add #{attribute}" type="text")