.PrivateConnectionCount(
  data-state=(user.get('private_connections_count') >= user.get('private_connections_limit') ? 'exceeded' : 'default')
)

  h6.SectionHeader.Type.Type--size-h6
    | Private block count

    .PrivateConnectionCount__count
      | <span>#{user.get('private_connections_count')}</span> / #{user.get('private_connections_limit')}

  .PrivateConnectionsMeter
    .PrivateConnectionsMeter__fill(
      style="width: #{(user.get('private_connections_count') / user.get('private_connections_limit')) * 100.0}%"
    )

  if user.get('private_connections_count') >= user.get('private_connections_limit')
    p.Type.Type--size-xs.Utility--align-right
      span.Color--state-alert
        | You&rsquo;ve reached the 100 block limit for free users.
        br
        | Your existing private blocks will be saved, but won’t be able to add any more under the Basic plan starting 8/23/17.
  else
    p.Type.Type--size-xs.Utility--align-right
      | Free users can add up to 100 Private blocks.
      br
      | If you’d like to add more, you can sign up for Premium.
