.CollaboratorItem__representation
  .CollaboratorItem__avatar(
    data-initials= collaborator.initials()
  )
    if collaborator.has('avatar_image')
      img(
        src= collaborator.get('avatar_image').display
        alt= collaborator.initials()
        onerror='this.style.display="none"'
      )

  .CollaboratorItem__metadata
    .CollaboratorItem__name
      a( href="/#{collaborator.get('slug')}" )
        = collaborator.get('username')

    if action === 'confirm' && current_user.id === collaborator.id
      .CollaboratorItem__status.Color--state-alert
        | You will lose access to this channel. Are you sure?
    else if action === 'confirm'
      .CollaboratorItem__status.Color--state-alert
        | Are you sure?

.CollaboratorItem__actions
  if action === 'inactive'
    button.Button.Button--size-xs.js-remove-collaborator
      | Remove
  else if action === 'confirm'
    button.Button.Button--size-xs.Color--state-alert.js-confirm-removal
      | Confirm
