extends ../../../../components/meta_pocket/templates/meta_pocket

block vars
  - title = "View"
  - id = "metadata--view"

block content
  ul.breadcrumb
    - var sort = sd.SORT ? "?sort=" + sd.SORT : ""
    li: a(href="/explore#{sort}" class=sd.SUBJECT ? "" : "is-active" ).metadata--selector__option All
    li: a(href="/explore/channels#{sort}" class=sd.SUBJECT == 'channel' ? "is-active" : "").metadata--selector__option Channels
    li: a(href="/explore/blocks#{sort}" class=sd.SUBJECT == 'block' ? "is-active" : "").metadata--selector__option Blocks

