.form-card
  .form-card__errors.js-form-errors
    //- Rendered client-side

  .form-card__fields
    .form-card__field
      label Current Plan
      .bordered-select
          select( name='plan', disabled=(customer.get('is_lifetime') ? 'disabled' : null) )
            if customer.get('is_lifetime')
                option(
                  value='lifetime_premium'
                  selected
                ) Lifetime Premium

            else
              unless customer.get('is_premium')
                option(
                  value='free'
                  selected= (!customer.get('plan_id')) ? 'selected' : null
                ) Free version

              option(
                value='monthly_premium'
                selected= (customer.get('plan_id') === 'monthly_premium') ? 'selected' : null
              ) Premium $5 / month

              option(
                value='premium_1'
                selected= (customer.get('plan_id') === 'premium_1') ? 'selected' : null
              ) Premium $45 / year

    if sd.CUSTOMER.plan_id && sd.CUSTOMER.plan_id !== customer.get('plan_id')
      .form-card__submit
        button.button--wide.button--border.js-update
          | Update Premium

    if customer.has('plan_id')
      .form-card__field
        label
          if customer.get('is_canceled')
            | Premium ends on
          else
            | Next billing date
        label
          if customer.get('is_lifetime')
            | Never
          else
            = customer.formatDate('current_period_end_at', 'D MMMM, YYYY')

      unless customer.get('is_lifetime')
        hr

        .payment-methods.js-payment-methods
          include ../payment_methods/index
