doctype html
- colorClass = sd.IS_INVERTED ? 'is-inverted' : ''
- loggedInClass = user ? 'is-logged-in' : 'not-logged-in'
html(class="#{colorClass} #{loggedInClass}")
  head
    title
      | Are.na
      if channel
        |  / #{channel.get('title')}
      else if author
        |  / #{author.get('username')}

    include ../../components/meta/templates/meta
    link( type='text/css', rel='stylesheet', href=asset('/assets/all.css') )
    block styles

  body
    #modal-container
      //- rendered by client
    #l-lightbox-container
      //- rendered by client
    include header/templates/index
    .container
      block body

    #l-loader-container.abs-fill
      include loader/templates/index

    #message-container

    a#scroll-top(data-section="#") &uarr;

    include analytics

    #scripts
      != sharify.script()
      //- Add Google's jQuery
      script( src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" )
      script( src="//js.pusher.com/2.2/pusher.min.js")
      script( src=asset('/assets/vendor.js') )
      script( src=asset('/assets/layout.js') )
      block scripts
