doctype html
html(class=sd.IS_INVERTED ? 'is-inverted' : '')
  head
    title
      | Are.na
      if channel
        |  / #{channel.get('title')}
      else if author
        |  / #{author.get('username')}

    link( type='text/css', rel='stylesheet', href=asset('/assets/all.css') )
    include ../../components/meta/templates/meta

    block styles

    - extraClasses = ''
    block vars

  body.body--bare(class=extraClasses)
    #modal-container
      //- rendered by client
    #l-lightbox-container
      //- rendered by client
    include header/templates/index--bare
    .container
      block body

    #l-loader-container
      include loader/templates/index

    #message-container

    //- a(data-section="#")#scroll-top &uarr;

    include analytics

    #scripts
      != sharify.script()
      script( src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js" )
      script( src="//js.pusher.com/2.2/pusher.min.js")
      script( src=asset('/assets/vendor.js') )
      script( src=asset('/assets/layout.js') )
      block scripts
