doctype html
html
  head
    title
      | Are.na
      if title
        |  / #{title}

    link( type='text/css', rel='stylesheet', href=asset('/assets/all.css') )
    include ../../components/meta/templates/meta.jade
    block meta

    block styles

    - extraClasses = ''

    block vars

  body.body--info(class=extraClasses)
    include header/templates/index--info.jade
    .container
      block body
      include footer/templates/index--info.jade

    include analytics.jade

    #scripts
      != sharify.script()
      script( src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js" )
      script( src="//js.pusher.com/2.2/pusher.min.js")
      script( src=asset('/assets/vendor.js') )
      script( src=asset('/assets/layout.js') )
      block scripts
