extends ../../../../components/meta_pocket/templates/meta_pocket

block vars
  - title = "View"
  - extraClasses = ''
  - id = "metadata--view"

block content
  ul.breadcrumb
    - var sort = sd.SORT ? "?sort=" + sd.SORT : ""

    li: a(href="/#{author.get('slug')}#{sort}" class=sd.SUBJECT ? "" : "is-active" ).metadata--selector__option All
    li: a(href="/#{author.get('slug')}/channels#{sort}" class=sd.SUBJECT == 'channels' ? "is-active" : "").metadata--selector__option Channels
    li: a(href="/#{author.get('slug')}/blocks#{sort}" class=sd.SUBJECT == 'block' ? "is-active" : "").metadata--selector__option Blocks
    li: a(href="/#{author.get('slug')}/index" class=sd.SUBJECT == 'index' ? "is-active" : "").metadata--selector__option Index

