//- ensure private share links don't get indexed
if channel && author && channel.get('status') == 'private'
  meta(name="robots" content="none")

if author && author.get('can_index') == false
  meta(name="robots" content="none")

if channel && channel.get('can_index') == false
  meta(name="robots" content="none")

if sd.SUBJECT
  meta(name="robots" content="none")

//- default
meta(property="description" content="Arena is a platform for private and collaborative research.")

//- verification
meta(name="google-site-verification" content="yEDzyeh9dYsQoRw7VJA6X5aVthUCYVTNK6nOUQU1eEE")

//- mobile
meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui")
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="black")
link(rel="apple-touch-icon" href="#{sd.IMAGE_PATH}touch-icon-iphone.png")
link(rel="apple-touch-icon" sizes="76x76" href="#{sd.IMAGE_PATH}touch-icon-ipad.png")
link(rel="apple-touch-icon" sizes="120x120" href="#{sd.IMAGE_PATH}touch-icon-iphone-retina.png")
link(rel="apple-touch-icon" sizes="152x152" href="#{sd.IMAGE_PATH}touch-icon-ipad-retina.png")
link(rel="apple-touch-startup-image" href="#{sd.IMAGE_PATH}loading.png")

//- twitter & fb meta
meta(name="twitter:description", content="Are.na is a platform for private and collaborative research.")
meta(name="twitter:site", content="@aredotna")
meta(property="og:description" content="Are.na is a platform for private and collaborative research.")
if channel && author
  meta(name="twitter:title", content="Are.na / #{channel.get('title')}")
  meta(name="twitter:url", content="https://www.are.na/#{author.get('slug')}/#{channel.get('slug')}")
  meta(property="og:title" content="Are.na / #{channel.get('title')}")
  meta(property="og:url" content="https://www.are.na/#{author.get('slug')}/#{channel.get('slug')}")
else if author
  meta(name="twitter:title", content="Are.na / #{author.get('username')}")
  meta(name="twitter:url", content="https://www.are.na/#{author.get('slug')}}")
  meta(property="og:title" content="Are.na / #{author.get('username')}")
  meta(property="og:url" content="https://www.are.na/#{author.get('slug')}")
else
  meta(name="twitter:title", content="Are.na")
  meta(name="twitter:url", content="https://www.are.na")
  meta(property="og:title" content="Are.na")
  meta(property="og:url" content="https://www.are.na")
if blocks
  meta(name="twitter:card", content="photo")
  - var filtered = _.filter(blocks, function(block){ return block.has('image'); })
  each block, index in filtered.slice(0,4)
    if block.has('image')
      meta(name="twitter:image#{index}", content="#{block.get('image').display.url}")
      meta(property="og:image" content="#{block.get('image').display.url}")
else
  meta(name="twitter:card", content="Arena is a platform for private and collaborative research where you can save links, images, and files and organize them into collections.")
  meta(name="twitter:image", content="logo.jpg")
  meta(property="og:image" content="logo.jpg")
