ul.search__results__list
  for result in results
    li.search__results__result
      if result.get('kind') != 'profile'
        ul.breadcrumb
          li: a(href="/#{result.get('user').slug}")= result.get('user').username
          li(class="search__results__result--privacy-#{result.getVisibility()}"): a(href="/#{result.get('user').slug}/#{result.get('slug')}")= result.get('title')
      else
        ul.breadcrumb
          li: a(href="/#{result.get('user').slug}")= result.get('user').username