span.block-item.block-item--content.block-collection--list__row.block-collection--list__row--loading(
  data-id="#{block.id}"
  data-class="#{block.get('base_class')}"
  id="#{block.id}"
  href="#{block.getHref()}"
  data-client="#{block.get('base_class')}"
  class="needsclick"
)