if tips
  .Tips__tips
    for tip in tips
      .Tip.js-tip(
        data-id=tip.id
        data-trigger=tip.trigger
      ) 
        a(href=tip.href)
          .Tip__title!= tip.title
        .Tip__close.js-close
          span.js-close(
            class='iconic iconic-sm'
            data-glyph='x'
            title='x'
            aria-hidden='true'
          )
