div(
  class="block-item block-item--content grid__block grid__block--item grid__block--tip"
  data-id="#{block.id}"
)
  .block-padding

  span
    .grid__block__inner
      .grid__block--tip__content.valign-outer
        .valign-inner!= block.get('content')
      if block.has('sub_content')
        .grid__block--tip__sub-content!= block.get('sub_content')
      .grid__block--tip__close
        a(class='iconic iconic-sm' data-glyph='x' title='Hide tip' aria-hidden='true')
