- isGroup = channel.group && channel.group.id
- identifiable = isGroup ? channel.group : channel.user
- name = isGroup ? identifiable.name : identifiable.username
-
span(
  href="/#{channel.user.slug}/#{channel.slug}"
  data-selected= channel[key]
)
  span.Connect__item-label.js-label
    = name
    if isGroup
      - group = identifiable
      include ../../../group_badge/index
    span.Separator
    span( class="Color--channel-#{channel.status}" )
      = channel.title
