span(
  href="/#{channel.user.slug}/#{channel.slug}"
  data-selected= channel[key]
)
  span.Connect__item-label.js-label
    = channel.user.full_name
    span.Separator
    span( class="Color--channel-#{channel.status}" )
      = channel.title
