form
  if customer.related().sources.length > 0
    h5.Type.Type--size-h5
      | Payment methods

    table.payment-methods__cards: tbody
      each source in customer.related().sources.models
        tr.payment-method
          td.payment-method__card
            = source.get('brand')
            = ' '
            span **** **** **** #{source.get('last4')}
            span #{source.get('exp_month')}/#{source.get('exp_year')}

          td.payment-method__default
            if customer.get('default_source') === source.id
              span Default
            else
              a.js-default( data-id= source.id )
                | Make default

          td.payment-method__remove
            a.js-remove( data-id= source.id )
              | Remove

  if customer.requiresPayment() && !customer.get('is_canceled')
    h5.Type.Type--size-h5
      | Coupon

    .Fieldset.js-coupon-code
      include ../coupon_code/index

  //- Has card on file aready
  if customer.requiresPayment() && !customer.requiresPaymentMethod() && !customer.get('is_canceled')
    button.Button.Button--divider.js-submit.js-charge
      | Upgrade to Premium (using #{customer.defaultSource().get('last4')})

  else if customer.requiresPayment() && !customer.requiresPaymentMethod() && customer.get('is_canceled')
    button.Button.Button--divider.js-submit.js-reenable
      | Continue my Premium membership ($#{customer.get('current_plan_amount')} / #{customer.get('current_plan_term')}) on
      | #{customer.formatDate('current_period_end_at', 'D MMMM, YYYY')}

  .Errors.js-form-errors
    //- Rendered client-side

  h5.Type.Type--size-h5
    if customer.related().sources.length > 0
      | Add another payment source
    else
      | Card info

  .Fieldset
    .Input.js-card-element
      input.Input.Input--fill( style='display: none' )

  if customer.requiresPayment() && customer.requiresPaymentMethod() && !customer.get('is_canceled')
    button.Button.Button--divider.js-submit.js-charge
      | Upgrade to Premium

  else if customer.requiresPayment() && customer.requiresPaymentMethod() && customer.get('is_canceled')
    button.Button.Button--divider.js-submit.js-reenable
      | Continue my Premium membership ($#{customer.get('current_plan_amount')} / #{customer.get('current_plan_term')}) on
      | #{customer.formatDate('current_period_end_at', 'D MMMM, YYYY')}

  else
    button.Button.Button--divider.js-submit.js-add
      | Add new card
