.channel-privacy
  p.channel-privacy__description= description
  ul.breadcrumb.toggle-group(data-key="filter")
    li: a(
        href="#"
        data-key='privacy'
        data-value='public'
        class=channel.get('status') == 'public' ? 'is-active' : ''
      ).metadata--selector__option.metadata--selector__option--public.default Public
    li: a(
        href="#"
        data-key='privacy'
        data-value='closed'
        class=channel.get('status') == 'closed' ? 'is-active' : ''
      ).metadata--selector__option.metadata--selector__option--closed Default
    li: a(
        href="#"
        data-key='privacy'
        data-value='private'
        class=channel.get('status') == 'private' ? 'is-active' : ''
      ).metadata--selector__option.metadata--selector__option--private Private