if tips && tips.length
  .Tips.js-tips
    h4.Type.Type--size-h4
      | This is your profile.
      | Here's what you can do to get started:

    .Tips__tips
      for tip in tips
        a.Tip.js-tip(
          href=tip.href
          data-id=tip.id
          data-trigger=tip.trigger
        )
          .Tip__title
            = tip.title

          .Tip__close.js-close
            span(
              class='iconic iconic-sm'
              data-glyph='x'
              title='x'
              aria-hidden='true'
            )
