if tips && tips.length
  .Tips.js-tips
    h4.Type.Type--size-h5
      | Welcome to Are.na, this is your profile.
      | All of your channels and content will show up here.

    .Tips__tips
      for tip in tips
        a.Tip.js-tip(
          href=tip.href
          data-id=tip.id
          data-trigger=tip.trigger
        )
          .Tip__title!= tip.title
          .Tip__close.js-close
            span(
              class='iconic iconic-sm'
              data-glyph='x'
              title='x'
              aria-hidden='true'
            )
