- title = 'Feed'
- var index = 5
- var img_url = "https://d2w9rnfcy7mm78.cloudfront.net/800851/original_d8ca7bc04f673be0fc212269b89f1a8b.jpg"
- copy = "On your main feed you can browse the recent activity of the channels and people you follow, or explore the recent stream of Are.na content from all users."

.gs-slide(data-slide="#{index}")
  h2
    | #{title} 
    span.color-lg (#{index}/5)
  .gs-slide__img
    img(src="#{img_url}")
    //- .gs-slide__img__nav.gs-slide__img__nav--right
    //-   include ../../../../public/images/iconic/nav-arrow-r.svg
  p.gs-slide__copy!= copy
    