if collaborators.length
  .edit-collaborators
    each collaborator, i in collaborators

      - var msg = collaborator.has('first_name') ? "Remove " + collaborator.get('username') : "Uninvite " + collaborator.get('username')

      .edit-collaborators__result.js-collaborators-remove(
        data-id="#{collaborator.id}" 
        title="Remove #{collaborator.get('username')}"
        data-name=collaborator.get('username')
        data-msg=msg
      )
        span.edit-collaborators__result__remove(
          class="iconic " 
          data-glyph="minus"
          aria-hidden="true"
        )
else
  p.collaborators__empty-collaborators —

.collaborators__new-collaborator
  //- rendered via the client
