section.path--header
  .path__inner.path
    .path__headline
      ul.path__breadcrumb
        li.root
          a(href='/') Are.na

        if !channel && !author &&!search
          li
            .root__toggle
              .root__toggle__item(class="#{path == 'feed' ? 'active' : ''}"): a(href="/") feed
              .root__toggle__item(class="#{path == 'explore' ? 'active' : ''}"): a(href="/explore") explore
        if author
          li.path__username
            a(href="/" + author.get('slug'))=author.get('username')
        if channel
          li.path__channel.channel(class="privacy-#{channel.get('status')}")
            a(href="/" + author.get('slug') + '/' + channel.get('slug'))= channel.get('title')
        if followers
          li.path__sub followers
        if following
          li.path__sub following
        if search
          li.path__sub Search results for '#{search}'

    if channel
      .channel-settings.show-info
        a(href="#") Show info
      if user && user.canEditChannel(channel)
        .channel-settings.edit-channel
          a(href="#") Edit channel
      else
        .channel-settings.follow_button.pointer
          a(data-type="Channel", data-id="#{author.id}")

    else if author && user && author.id == user.id
      .channel-settings.edit-profile
        a(href="#") Profile settings

    else if author && user && author.id != user.id && !channel
      .channel-settings.edit-profile
        a.follow_button.pointer(data-type="User", data-id="#{author.id}")

  .metadata--container
    if channel
      .metadata
        .metadata__column
          .metadata__title Description
            if channel.has('metadata')
              .metadata__text= channel.get('metadata').description
            else
              .metadata__text —
        if channel.get('collaboration')
          #metadata--collaborators.metadata__column
            //- Rendered by client
        else
          .metadata__column
            .metadata__title Collaborators
            .metadata__text —
        .metadata__column
          .metadata__title Followers
          .metadata__text: a(href="/" + author.get('slug') + '/' + channel.get('slug') + '/' + 'followers')= channel.get('follower_count')

    else if author || search
      .metadata
        if author
          .metadata__column
            .metadata__title Info
              if author.has('metadata')
                .metadata__text Son of @broskoski, father of a cat. NYC.
              else
                .metadata__text —
        if !following && !followers
          .metadata__column
            .metadata__title View
            .metadata__text
              ul.metadata--selector.breadcrumb.toggle-group(data-key="filter")
                li: a(href="#" data-key='base_class' data-value='all').metadata--selector__option.default.is-active All
                li: a(href="#" data-key='base_class' data-value='Channel').metadata--selector__option Channels
                li: a(href="#" data-key='base_class' data-value='Block').metadata--selector__option Blocks
        if author
          .metadata__column
            .metadata__title Followers
            .metadata__text: a(href="/" + author.get('slug') + '/followers')= author.get('follower_count')

          .metadata__column
            .metadata__title Following
            .metadata__text: a(href="/" + author.get('slug') + '/following')= author.get('following_count')