a.Connection(
  data-client="Channel"
  href=channel.href()
  data-visibility=channel.getVisibility()
) 
  .Connection__inner

    .Connection__inner__left
      span.Connection__inner__left__title= channel.get('title')
      span.Connection__inner__left__block-count &nbsp; #{channel.get('length')} blocks
    
    .Connection__inner__right
      | by&nbsp;
      strong= channel.get('user').username