- loggedIn = user && user.has('username')
- isCurrentPath = function(path) { return sd.CURRENT_PATH.indexOf(path) > -1 }

header.header--info
  a(href=homeHref).header--info__logo
    include ../../../../public/images/arena-mark.svg
    | #[span Are.na&nbsp;]
    if title
      | #[span / #{title}]
  .header--info__menu
    unless loggedIn
      a(data-client="auth" href="/sign_up") Sign up
    a(data-slug="about" href="/about" class=isCurrentPath('about') ? 'selected' : '') About
    a(data-slug="pricing" href="/pricing" class=isCurrentPath('pricing') ? 'selected' : '') Pricing
    a(data-slug="blog" href="/blog" class=isCurrentPath('blog') ? 'selected' : '') Blog
    unless loggedIn
      a(data-client="auth" href="/log_in") Log in
  .header--info__mobile-menu
    .header--info__mobile-menu__trigger
      .header--info__mobile-menu__trigger__menu
        span(class="iconic" data-glyph="menu" title="menu" aria-hidden="true")
      .header--info__mobile-menu__trigger__close
        span(class="iconic" data-glyph="x" title="close" aria-hidden="true")


    .header--info__mobile-menu__contents
      unless loggedIn
        a(data-client="auth" href="/sign_up") Sign up
      a(data-slug="about" href="/about" class=isCurrentPath('about') ? 'selected' : '') About
      a(data-slug="pricing" href="/pricing" class=isCurrentPath('pricing') ? 'selected' : '') Pricing
      a(data-slug="blog" href="/blog" class=isCurrentPath('blog') ? 'selected' : '') Blog
      unless loggedIn
        a(data-client="auth" href="/log_in") Log in
