.manage__block(id=block.id data-id=block.id)
  .manage__block__title.manage__block__column
    a(href="#{block.getHref()}" class="privacy--#{block.getVisibility()}")= block.smartTruncate(block.get('title'), 50)
  .manage__block__updated_at.manage__block__column
    = block.updatedAtAgo()
  .manage__block__block_count.manage__block__column.manage__block__column--small
    = block.get('length')
  .manage__block__status.manage__block__column
    = block.get('status')
  .manage__block__follower_count.manage__block__column.manage__block__column--small
    if block.get('followed_by_ids')
      = block.get('followed_by_ids').length
  .manage__block__export.manage__block__column
    ul.breadcrumb
      li.export--option(data-format="pdf"): a PDF
      li.export--option(data-format="zip"): a ZIP
      li.export--option(data-format="html"): a HTML
      unless block.get('status') == 'private'
        li.export--link(data-format="json"): a(href="#{sd.API_URL}/channels/#{block.get('slug')}" target="_blank") JSON
    .export__status