.HomeHero__content
  .HomeHero__copy
    h2.Type.Type--size-h2 Build ideas mindfully.
    h5.Type.Type--size-h5
      | Save content, create collections, and connect ideas with other people.
    .HomeHero__video.HomeHero__mobile_video
      span
        iframe(
          src='https://player.vimeo.com/video/227975322?autoplay=0&autopause=0'
          frameborder='0'
          allowfullscreen
          allow="autoplay"
          title="about video"
        )
    .HomeHero__cta
      a.Button.Button--size-lg.Button--border-heavy( class=button_class href='/sign_up' )
        | Sign up for Are.na
      a.Button.Button--size-lg.Button--app.Button--border-heavy( class=button_class href=sd.ITUNES_LINK )
        | Download Are.na for iOS
      a.Button.Button--size-lg.Button--app.Button--border-heavy( class=button_class href=sd.ANDROID_LINK )
        | Download Are.na for Android
  .HomeHero__image.js-to-fold.pointer
    img(src="https://d2w9rnfcy7mm78.cloudfront.net/1823396/original_a478a524577ed32227e7b36894cbb04a.png" alt="Are.na screenshot")
    .HomeHero__play.js-desktop-video-play &nbsp;
    .HomeHero__video.js-desktop-video
      span
        iframe(
          src='https://player.vimeo.com/video/227975322?autoplay=0&autopause=0'
          frameborder='0'
          allowfullscreen
          allow="autoplay"
          title="about video"
        )

