.block-collection
  for block in blocks
    div(class="block block--#{block.get('class').toLowerCase()}")
      a(href="#{block.getHref()}")
        .block__inner(class="block--privacy-#{ block.getVisibility() }")
          .block__content
            - if(block.get('class') == 'Text')
              != block.get('content_html')
            - if(block.has('image'))
              .block__image
                .block__image__inner
                  img(src="#{block.getImageSize('display')}")
          .block__overlay.abs-fill(style=(block.has('image') ? "background-image:url( #{ block.getImageSize('thumb') })" : ""), class="block__overlay--privacy-#{ block.getVisibility() }")
          - if(block.get('class') == 'Channel')
            .block__channel-title
              .block__channel-title__inner
                h2=block.get('title')
          - if(block.get('class') == 'User')
            .block__user-avatar
              .block__user-avatar__inner
                img(src="#{block.get('avatar_image').display}", alt="#{block.get('username')}")
                h3=block.get('username')
      p.block__title= block.smartTruncate(block.get('title'))
