include ../../avatar/templates/avatar

//- broke block lightbox handling for now, need to think of a different way to capture those events
//-

div(class="grid__block grid__block--#{block.get('class').toLowerCase()}" data-id="#{block.id}" id="#{block.id}")
  a(href="#{block.getHref()}" data-client=block.get('base_class') == 'Block' class="grid__block__link")
    .grid__block__inner(class="grid__block__inner--privacy-#{ block.getVisibility() }")
      - if(block.get('class') != 'Channel' || block.get('class') != 'User')
        .grid__block__content.valign-outer
          .valign-inner
            - if(block.has('image'))
              img(src="#{block.getImageSize('display')}" alt="#{block.get('description')}").grid__block__content__image
            - if(block.get('class') == 'Text')
              .grid__block__content__text
                != block.get('content_html')
            - if(block.get('class') == 'Channel')
              h2=block.get('title')
              .grid__block__channel__stats
                ul.grid__block__channel__stats__list
                  li #{block.get('length')} blocks
                  //- li #{block.get('follower_count')} followers
            - if(block.get('class') == 'User')
              +avatar(block)
              h2=block.get('username')
            - if(block.get('class') == 'Attachment')
              img(data-src="#{sd.IMAGE_PATH}iconic/file.svg", data-file-extension="#{block.get('attachment').extension}", class="iconic iconic-lg", src="{sd.IMAGE_PATH}iconic/file.svg", alt="Download File")
        .grid__block__overlay.abs-fill(class="grid__block__overlay--privacy-#{ block.getVisibility() }")
          - if(block.get('class') == 'Link')
            .grid__block__content__link
              img(data-src="#{sd.IMAGE_PATH}iconic/link.svg" class="iconic iconic-sm" src="#{sd.IMAGE_PATH}iconic/link.svg" alt="Visit external link")
          .grid__block__mini-feed
            - if(channel)
              ul.bare-list
                li
                  span(data-href="/#{block.get('connected_by_user_slug')}").inline-link.username=block.get('connected_by_username')
                  span.arrow &#x279d;
                  span.inline-link.channel=channel.smartTruncate(channel.get('title'), 30)
          if user
            .button--inblock.grid__block__connect-btn Connect &#x279d;
        if user
          .grid__block__connect-container.abs-fill
            //- rendered by the client
    - if(block.get('class') != 'Channel')
      p.grid__block__title= block.smartTruncate(block.get('title'))