include ../../avatar/templates/avatar

div(class="grid__block grid__block--#{block.get('class').toLowerCase()}" data-id="#{block.id}" id="#{block.id}")
  a(href="#{block.getHref()}" data-client=block.get('base_class') == 'Block' class="grid__block__link needsclick")
    .grid__block__inner(class="grid__block__inner--privacy-#{ block.getVisibility() }")
      - if(block.get('class') != 'Channel' || block.get('class') != 'User')
        .grid__block__content.valign-outer
          .valign-inner
            - if(block.has('image'))
              img(src="#{block.resizeImage()}" alt="#{block.get('description')}").grid__block__content__image
            - if(block.get('class') == 'Text')
              .grid__block__content__text
                != block.get('content_html')
            - if(block.get('class') == 'Channel')
              h2=block.get('title')
              .grid__block__channel__stats
                ul.grid__block__channel__stats__list
                  li by #{block.get('user').username}
                  li #{block.get('length')} blocks
                  //- li #{block.updatedAtAgo()}
                  //- li #{block.get('follower_count')} followers
            - if(block.get('class') == 'Attachment')
              img(data-src="#{sd.IMAGE_PATH}iconic/file.svg" data-file-extension="#{block.get('attachment').extension}" class="iconic iconic-lg")
            - if(block.get('class') == 'User' && block.has('username'))
              h2=block.get('username')
              +avatar(block)
              .button--inblock.button--inblock--bottom.grid__block__follow_btn &nbsp;

        .grid__block__overlay.abs-fill(class="grid__block__overlay--privacy-#{ block.getVisibility() }")
          if user
            - if(block.get('class') == 'Attachment' || block.get('class') == 'Link' || block.get('class') == 'Media')
              .button--inblock.button--inblock--left.grid__block__source__link Source
              if user.has('id')
                .button--inblock.button--inblock--right.grid__block__connect-btn Connect &#x279d;
            - if(block.get('class') == 'Channel')
              .button--inblock.button--inblock--left.grid__block__follow_btn &nbsp;
              if user.has('id')
                .button--inblock.button--inblock--right.grid__block__connect-btn Connect &#x279d;
            - if((block.get('class') == 'Image' || block.get('class') == 'Text') && user.has('id'))
              .button--inblock.button--inblock--center.grid__block__connect-btn Connect &#x279d;
            - if(channel && user.has('id'))
              .grid__block__delete-block.button--delete-block.iconic(data-glyph="trash")
          .grid__block__mini-feed
            - if(channel)
              ul.bare-list
                li
                  span(data-href="/#{block.get('connected_by_user_slug')}").inline-link.username=block.get('connected_by_username')
                  span.arrow &#x279d;
                  span.inline-link.channel=channel.smartTruncate(channel.get('title'), 30)
        if user
          .grid__block__connect-container.abs-fill
            //- rendered by the client
    - if(block.get('class') != 'Channel' && block.get('class') != 'User')
      p.grid__block__title= block.smartTruncate(block.get('title'))
      - if(block.has('user'))
        p.grid__block__author Added by #{block.get('user').username}