extends ../../../../components/path/templates/tab_content

block vars
  - slug = 'general'

block content
  .tab-content__title
    | General

  .tab-content__frame
    .Narrow
      section.Section
        .avatar-uploader.js-avatar-uploader
          include ../../components/avatar_uploader/index.jade

        form(
          data-action= user.url()
          data-method='PUT'
          class="js-settings"
        )
          .Errors.js-form-errors
            //- Rendered client-side

          .Fieldset
            label.Label Info
            input.Input(
              name='first_name'
              type='text'
              value="#{user.get('first_name')}"
              placeholder='First name'
              autofocus= autofocus
              required
            )

            input.Input(
              name='last_name'
              type='text'
              value="#{user.get('last_name')}"
              placeholder='Last name'
              autofocus= autofocus
              required
            )

            if user.get('unconfirmed_email')
              label.Label
                | Please check your email to confirm your new email address

              input.Input(
                type='email'
                value="#{user.get('unconfirmed_email')}"
                readonly
                disabled
              )

            input.Input(
              name='email'
              type='email'
              value="#{user.get('email')}"
              placeholder='Email'
              autofocus= autofocus
              required
            )
          .Fieldset
            include ../../components/bio_field/index

          .Fieldset
            label.Label Password
            input.Input(
              name='password' type='password' placeholder='Password'
            )

            input.Input(
              name='password_confirmation' type='password' placeholder='Repeat password'
            )

          .Fieldset.js-home-path-field
            include ../../components/home_path_field/index

          if user.isPremium()
            .Fieldset
              label.Label
                | Exclude my content from search engines?

              .Select.Select--fill
                select(name='exclude_from_indexes')
                  option(
                    value='true'
                    selected= user.get('exclude_from_indexes') ? 'selected' : null
                  ) Yes

                  option(
                    value='false'
                    selected= !user.get('exclude_from_indexes') ? 'selected' : null
                  ) No

          button.Button.Button--divider
            | Save
