extends ../../../../components/path/templates/tab_content

block vars
  - slug = 'notifications'

block content
  .tab-content__title
    | Email Notifications

  .tab-content__frame
    .Narrow
      section.Section
        form(
          data-action= user.url()
          data-method='PUT'
        )
          .Errors.js-form-errors
            //- Rendered client-side

          .Fieldset
            label.Label
              | Email notification type

            .Select.Select--fill
              select(name='receive_email')
                option(
                  value='none'
                  selected= (user.get('receive_email') === 'none') ? 'selected' : null
                ) None
                option(
                  value='digest'
                  selected= (user.get('receive_email') === 'digest') ? 'selected' : null
                ) Periodic digest email
                option(
                  value='notifications'
                  selected= (user.get('receive_email') === 'notifications') ? 'selected' : null
                ) One email per notification

          .Fieldset
            label.Label
              | Subscribe to newsletter?

            .Select.Select--fill
              select(name='receive_newsletter')
                option(
                  value='true'
                  selected= user.get('receive_newsletter') ? 'selected' : null
                ) Yes
                option(
                  value='false'
                  selected= !user.get('receive_newsletter') ? 'selected' : null
                ) No

          button.Button.Button--divider
            | Save
