- visibilityClass = block.kind.__typename === 'Channel' ? "Block__inner--channel--" + block.kind.visibility : ''

a.Block(
  href=block.href
  data-client=block.klass
  data-id=block.id
)
  .Block__inner(
    class="Block__inner--#{block.kind.__typename.toLowerCase()} #{visibilityClass}"
  )
    //- Connect interface
    .Block__inner__connect
      //- Rendered client-side

    //- Hover overlay
    .Block__inner__overlay
      if block.kind.__typename !== 'Channel' 
        if block.kind.source_url || block.kind.file_url
          .Block__inner__overlay__button.js-source Source
        .Block__inner__overlay__button.js-connect Connect →

    //- Main content
    if block.kind.__typename === 'Channel'
      h2!= block.title
      .Block__inner--channel__stats
         ul.Block__inner--channel__stats__list
          li by #{block.user.name}
          li #{block.kind.counts.blocks} blocks &bull; #{block.updated_at}
    
    //- Text content
    if block.kind.__typename === 'Text'
      p!= block.kind.content

    //- Image / Attachment content
    if block.kind.file_extension && block.kind.file_extension !== 'pdf'
      img(
        data-src="#{sd.IMAGE_PATH}iconic/file.svg"
        data-file-extension=block.kind.file_extension
        class="iconic iconic-lg"
      )
    else if block.kind.image_url
      img(src=block.kind.image_url)

  //- Bottom caption
  if block.kind.__typename !== 'Channel'
    .Block__caption
      .Block__caption__title= block.title
      .Block__caption__meta
        .Block__caption__meta__author Added by #{block.user.name}
        .Block__caption__meta__author Updated #{block.updated_at}

