span.block-item.block-item--content.block-collection--list__row(
  data-id="#{block.id}"
  data-class="#{block.get('base_class')}"
  id="#{block.id}"
  href="#{block.getHref()}"
  class="needsclick #{block.getPermissions(user, channel)}"
)
  .block-collection--list__column.block-collection--list__column--thumb
    if block.has('image')
      img(
        src="#{block.resizeImage(50, 50, 'thumb')}"
        alt="#{block.get('description')}"
      )
    else if block.get('class') == 'Text'
      .iconic(data-glyph="text")
    else if block.get('class') == 'Attachment'
      .iconic(data-glyph="file-#{block.get('attachment').extension}")
  .block-collection--list__column.block-collection--list__column--title
    strong
      span(class="attribute-title")= block.smartTruncate(block.titleOrContent(), 80)
      if block.get('comment_count') > 0
        span.iconic.block-collection--list__column__comment-count(data-glyph="comment-square" data-count=block.get('comment_count'))
    .block-collection--list__column__small
      | Added by&nbsp;
      a(href="/#{block.get('user').slug}") #{block.get('user').username}
      if block.get('connected_by_username') && block.get('connected_by_username') != block.get('user').username
        | ,&nbsp;connected by&nbsp;
        a(href="/#{block.get('connected_by_user_slug')}") #{block.get('connected_by_username')}
  .block-collection--list__column.block-collection--list__column--source
    if block.get('class') == 'Attachment' && ['mp3', 'pdf'].indexOf(block.get('attachment').extension)
      img(data-src="#{sd.IMAGE_PATH}iconic/type-#{block.get('attachment').extension}.svg" class="iconic iconic-sm")
    if block.get('class') == 'Media'
      img(data-src="#{sd.IMAGE_PATH}iconic/type-embed.svg" class="iconic iconic-sm")
    if block.get('class') == 'Link'
      .iconic(data-glyph="link-intact")
  .block-collection--list__column.block-collection--list__column--action
    .block-collection--list__column__connect Connect
    .connect-container
      //- rendered on the client
  .block-collection--list__column.block-collection--list__column--date
    | #{block.updatedAtAgo()}
  .block-collection--list__column.block-collection--list__column--edit
    include partials/_edit