span.block-item.block-collection--list__row(
  data-id="#{block.id}"
  data-class="#{block.get('base_class')}"
  id="#{block.id}"
  href="#{block.getHref()}"
  data-client="#{block.get('base_class')}"
  class="needsclick"
)
  .block-collection--list__column(data-attr="icon")
    if block.has('image')
      img(
          src="#{block.resizeImage(50, 50, 'thumb')}"
          alt="#{block.get('description')}"
        )
    else if block.get('class') == 'Text'
      .iconic(data-glyph="text")
    else if block.get('class') == 'Attachment'
      .iconic(data-glyph="file-#{block.get('attachment').extension}")
  .block-collection--list__column
    strong
      a(href="#{block.getHref()}")!= block.smartTruncate(block.titleOrContent(), 50)
    .block-collection--list__column__small
      | By&nbsp;
      a(href="/#{block.get('user').slug}") #{block.get('user').username}
  .block-collection--list__column
    .block-collection--list__column__source
      if block.get('class') == 'Attachment' && ['mp3', 'pdf'].indexOf(block.get('attachment').extension)
        img(data-src="#{sd.IMAGE_PATH}iconic/type-#{block.get('attachment').extension}.svg" class="iconic iconic-sm")
      if block.get('class') == 'Media'
        img(data-src="#{sd.IMAGE_PATH}iconic/type-embed.svg" class="iconic iconic-sm")
      if block.get('class') == 'Link'
        .iconic(data-glyph="link-intact")
  .block-collection--list__column
    //- source / follow
  .block-collection--list__column
    .block-collection--list__column__connect Connect
    .connect-container
      //- rendered on the client
  .block-collection--list__column
    | Updated #{block.updatedAtAgo()}