span.block-item.block-item--content.block-collection--list__row(
  data-id="#{block.id}"
  data-class="#{block.get('base_class')}"
  id="#{block.id}"
  href="#{block.getHref()}"
  data-client="#{block.get('base_class')}"
  class="needsclick #{block.getPermissions(user, channel)} block-collection--list__row--#{block.getVisibility()}"
)
  .block-collection--list__column.block-collection--list__column--thumb
    .block-collection--list__column__channel-icon(class="privacy--#{block.getVisibility()}")
  .block-collection--list__column.block-collection--list__column--title
    strong
      a(href="#{block.getHref()}" class="privacy--#{block.getVisibility()}")= block.smartTruncate(block.title(), 50)
    .block-collection--list__column__small
      | By&nbsp;
      a(href="/#{block.get('user').slug}") #{block.get('user').username}
  .block-collection--list__column.block-collection--list__column--source

  .block-collection--list__column.block-collection--list__column--action
    .block-collection--list__column__follow
      //- rendered on the client
    | |
    .block-collection--list__column__connect Connect
    .connect-container
      //- rendered on the client
  .block-collection--list__column.block-collection--list__column--date
    | Updated #{block.updatedAtAgo()}
  .block-collection--list__column.block-collection--list__column--edit
    include partials/_edit