.home-section.home-section__extended
  .home-section__inner
    h1.home-header
      | On Are.na, you organically combine images, links, files and texts into collections (we call them channels).
      br
      | Use it collaboratively, publicly or privately.
    br
    br
    h1.home-header
      | Once you get the hang of it, its dead-simple to use for just about any idea.
    br
    br
    h1.home-header
      | Think of it as a connected archive of human knowledge.

    figure.home-section__figure
      figcaption
        h1.home-header.home-header__light An example profile
      img(
        src="https://d2w9rnfcy7mm78.cloudfront.net/554969/original_4c4328c1ff3b8630390fb87dcd9686dd.jpg"
        style="width:1000px"
      )

    figure.home-section__figure
      figcaption
        h1.home-header.home-header__light An example channel
      img(
        src="https://d2w9rnfcy7mm78.cloudfront.net/554970/original_fd4c198a3929826d313f8d9ee630ba00.jpg"
        style="width:1000px"
      )

    figure.home-section__figure
      figcaption
        h1.home-header.home-header__light Save images, text, and links with the bookmarklet
      img(
        src="https://d2w9rnfcy7mm78.cloudfront.net/554966/original_a374f6d6fae0e6bd2479873974e877cb.jpg"
        style="width:500px"
      )

    figure.home-section__figure
      figcaption
        h1.home-header.home-header__light Connect existing content to other channels
      img(
        src="https://d2w9rnfcy7mm78.cloudfront.net/554967/original_336af24520544a506f8a8e7c597138b9.jpg"
        style="width:600px"
      )
    br
    br
    h1.home-header.home-header__wide
      | So far, users have created #[span.is-successful #{stats.format('channels')}] channels and made #[span.is-successful #{stats.format('connections')}] connections.
    br
    br
    img(
      data-src="#{sd.IMAGE_PATH}iconic/nav-arrow-l.svg"
      class="iconic iconic-sm home-arrow pointer"
      data-multiplier="7"
    )
