.home-section.home-section__extended
  .home-section__inner
    h1.home-header
      | On Are.na, you organically combine images, links, files and texts into collections (we call them channels).
      br
      | Use it collaboratively, publicly or privately.
    br
    br
    h1.home-header
      | Once you get the hang of it, its dead-simple to use for just about any idea.
    br
    br
    h1.home-header
      | Think of it as a connected archive of human knowledge.

    figure.home-section__figure
      figcaption
        h1.home-header.home-header__light An example profile
      img(src="/images/home/profile-1.png")

    figure.home-section__figure
      figcaption
        h1.home-header.home-header__light An example channel
      img(src="/images/home/channel-2.png")

    figure.home-section__figure
      figcaption
        h1.home-header.home-header__light Save images, text, and links with the bookmarklet
      img(src="/images/home/bookmarklet-2.png")

    figure.home-section__figure
      figcaption
        h1.home-header.home-header__light Connect existing content to other channels
      img(src="/images/home/connect-2.png")
    br
    br
    h1.home-header.home-header__wide
      | So far, users have created #[span.is-successful #{stats.format('channels')}] channels and made #[span.is-successful #{stats.format('connections')}] connections.
    br
    br
    img(
      data-src="#{sd.IMAGE_PATH}iconic/nav-arrow-l.svg"
      class="iconic iconic-sm home-arrow pointer"
      data-multiplier="7"
    )
