include ../../avatar/templates/avatar

+avatar(user)

form(id="avatar-upload" action="#{policy.bucket}" method="POST" enctype="multipart/form-data" data-fileupload="")
  input(type="hidden" name="key" value="#{policy.key}")
  input(type="hidden" name="AWSAccessKeyId" value="#{policy.AWSAccessKeyId}")
  input(type="hidden" name="acl" value="#{policy.acl}")
  input(type="hidden" name="success_action_status" value="#{policy.success_action_status}")
  input(type="hidden" name="policy" value="#{policy.policy}")
  input(type="hidden" name="signature" value="#{policy.signature}")
  input(type="file" name="file" multiple)
  .avatar-upload-pointer.pointer Upload new avatar