#auth-page.vam-outer
  .vam-inner
    #avatar.settings-avatar
      //- rendered client side
    section#auth-body
      form.auth-login-settings.auth-form
        .form__field
          input.input--wide.input--relative.is-block(
            name='first_name' type='text' value="#{user.get('first_name')}" placeholder='First name' required autofocus= autofocus
          )
        .form__field
          input.input--wide.input--relative.is-block(
            name='last_name' type='text' value="#{user.get('last_name')}" placeholder='Last name' required autofocus= autofocus
          )
        .form__field
          input.input--wide.input--relative.is-block(
            name='email' type='email' value="#{user.get('email')}" placeholder='Email' required autofocus= autofocus
          )
        .form__field
          input.input--wide.input--relative.is-block(
            name='password' type='password' placeholder='Password'
          )
        .form__field
          input.input--wide.input--relative.is-block(
            name='password_confirmation' type='password' placeholder='Repeat password'
          )
        .auth-errors &nbsp;

        button#auth-settings.auth-submit.button--wide.button--border.button--relative Save