#auth-page.vam-outer
  .vam-inner
    #avatar.settings-avatar
      //- rendered client side
    section#auth-body
      form.auth-login-settings.auth-form
        .form__field
          input.input--wide.input--relative.is-block(
            name='first_name' type='text' value="#{user.get('first_name')}" placeholder='First name' required autofocus= autofocus
          )
        .form__field
          input.input--wide.input--relative.is-block(
            name='last_name' type='text' value="#{user.get('last_name')}" placeholder='Last name' required autofocus= autofocus
          )
        .form__field
          input.input--wide.input--relative.is-block(
            name='email' type='email' value="#{user.get('email')}" placeholder='Email' required autofocus= autofocus
          )
        .bordered-select
          select(name="receive_email")
            option(value="none" selected=user.get('receive_email') == 'none' ? 'selected' : null) No email notifications
            option(value="digest" selected=user.get('receive_email') == 'digest' ? 'selected' : null) Receive periodic digest email
            option(value="notifications" selected=user.get('receive_email') == 'notifications' ? 'selected' : null) Recieve one email per notification
        .bordered-select
          select(name="receive_newsletter")
            option(value="true" selected=user.get('receive_newsletter') == 'true' ? 'selected' : null) Subscribed to newsletter
            option(value="false" selected=user.get('receive_newsletter') == 'false' ? 'selected' : null) Unsubscribed to newsletter
        if user.get('is_pro') == true
          .bordered-select.bordered-select--wide
            select(name="exclude_from_indexes")
              option(value="true" selected=user.get('exclude_from_indexes') == 'true' ? 'selected' : null) Exclude my content from external search engines
              option(value="false" selected=user.get('exclude_from_indexes') == 'false' ? 'selected' : null) Allow search engines to crawl my content
        .form__field
          input.input--wide.input--relative.is-block(
            name='password' type='password' placeholder='Password'
          )
        .form__field
          input.input--wide.input--relative.is-block(
            name='password_confirmation' type='password' placeholder='Repeat password'
          )
        .auth-errors &nbsp;

        button#auth-settings.auth-submit.button--wide.button--border.button--relative Save