extends ../../../components/path/templates/path

block path
  li.path__username
    a(href="/" + author.get('slug'))
      | #{author.get('username')}
    if channel.get('collaborator_count') > 0
      | &nbsp;(+#{channel.get('collaborator_count')})
  li.path__channel.channel(class="privacy-#{channel.get('status')}")
    if (followers || following)
      a(href="#{channel.href()}")= channel.get('title')
    else
      span(id="attribute-title_#{channel.id}")= channel.get('title')
  if followers
    li.path__sub Followers
  if following
    li.path__sub Following

block metadata
  .metadata.metadata--channel
    if (user && author.id == user.id) || channel.has('metadata') || channel.get('collaboration')
      include meta_pockets/info
    include meta_pockets/connections
    if user
      unless channel.get('status') == 'private'
        include meta_pockets/followers
      include meta_pockets/privacy
      include meta_pockets/edit_collaborators
      include meta_pockets/export
      include meta_pockets/delete

    if user && user.id != author.id
      .metadata__column.metadata__column--right.metadata__column--manage.is-hidden
        include ../components/mute/index

    if channel
      #metadata__column-manage.metadata__column--bottom(class= (user && user.canEditChannel(channel)) ? 'is-editable' : '')
        .toggle-settings-trigger.pointer(data-message="Privacy, Collaborators, Export, Delete ▾")
