if collaborators.length
  each collaborator, i in collaborators
    if collaborators.length == 1
      a(href="/#{collaborator.get('slug')}") #{collaborator.get('username')}
    else
      if i == collaborators.length - 2
        a(href="/#{collaborator.get('slug')}") #{collaborator.get('username')}&nbsp;
        span and&nbsp;
      else if i == collaborators.length - 1
        a(href="/#{collaborator.get('slug')}") #{collaborator.get('username')}
      else if i < collaborators.length - 2
        a(href="/#{collaborator.get('slug')}") #{collaborator.get('username')},&nbsp;
else
  p —