.metadata__content__section
  if connections.length
    each connection, i in connections
      if connections.length == 1
        a(href="/#{connection.get('user').slug}/#{connection.get('slug')}") #{connection.get('title')}
      else
        if i == connections.length - 2
          a(href="/#{connection.get('user').slug}/#{connection.get('slug')}") #{connection.get('title')}&nbsp;
          span and&nbsp;
        else if i == connections.length - 1
          a(href="/#{connection.get('user').slug}/#{connection.get('slug')}") #{connection.get('title')}
        else if i < connections.length - 2
          a(href="/#{connection.get('user').slug}/#{connection.get('slug')}") #{connection.get('title')},&nbsp;
