form(id="fileupload" action="#{user.get('manifest').bucket}" method="POST" enctype="multipart/form-data" data-fileupload="")
  input(type="hidden" name="key" value="#{user.get('manifest').key}")
  input(type="hidden" name="AWSAccessKeyId" value="#{user.get('manifest').AWSAccessKeyId}")
  input(type="hidden" name="acl" value="#{user.get('manifest').acl}")
  input(type="hidden" name="success_action_status" value="#{user.get('manifest').success_action_status}")
  input(type="hidden" name="policy" value="#{user.get('manifest').policy}")
  input(type="hidden" name="signature" value="#{user.get('manifest').signature}")
