h2.feed-group__sentence
  a(href="/#{group.actor().slug}" class="username")=group.actor().username
  -if(group.action() == "said")
    span :
  span &nbsp;
  -if(group.action() != "said")
    span=group.action()
    span &nbsp;
  if group.is_single()
    if group.is_comment()
      em.feed-group__sentence__comment=group.single_subject()
    else
      span
        a(href="#{group.single_subject_link()}")=group.single_subject()
  else
    span=group.grouped_subject()
  if group.connector()
    span &nbsp;
    span=group.connector()
    span &nbsp;
    a(href="#{group.single_target_link()}")=group.single_target()
  .feed-group__timestamp=group.timestamp()
