- className = [];
- group.isNew() ? className.push('is_unread') : '';
- group.is_comment() ? className.push('is_comment') : '';

h2.feed-group__sentence(class=className.join(' '))
  span.feed-group__sentence__username
    a(href="/#{group.actor().slug}" class="username")=group.actor().username
    if group.is_comment()
      | :
    else
      span &nbsp;
  unless (group.is_comment())
    span=group.action()
    span &nbsp;
  if group.is_single()
    if group.is_comment()
      span.feed-group__sentence__comment(id="attribute-body_#{group.first_item().id}")
        != group.single_subject()
    else
      span
        a(href="#{group.single_subject_link()}" class="privacy--#{group.subject_privacy()}")=group.single_subject()
  else
    span=group.grouped_subject()
  if group.connector()
    span &nbsp;
    span=group.connector()
    span &nbsp;
    a(href="#{group.single_target_link()}" class="privacy--#{group.target_privacy()}")=group.single_target()
  .feed-group__timestamp(class=group.isNew() ? 'is_unread' : '')=group.timestamp()
