- links = collection.filter('selected')
- s = links.length == 1 ? '' : 's'

.import__status(
  data-visible="#{collection.any('selected') ? true : false}"
  )
  .import__status__inner
    h2 
      | Connect #{collection.filter('selected').length} link#{s} to&nbsp;
      if selectedChannel
        | #{selectedChannel.get('title')}
      else
        a.btn.import__status__inner__select-channel (select channel)
        .import__status__inner__select-container
          //- rendered on the client